<h1>Create New Expense</h1>
<br>
<br>

<% if flash.has?(:message) %>
  <p style="color:#eb1607;"><%= flash[:message] %> </p>
<% end %>

<h5><form action="/expenses" method="POST">
  <label for="vendor">Vendor: </label>
  <input type="text" name="vendor" id="vendor"/>

  <br></br>

  <label for="date">Date: </label>
  <input type="date" name="date" id="date"/>

  <br></br>

  <label for="total">Total:  $</label>
  <input type="number" name="total" id="total" min="0.01" step="0.01" max="9999.99"/>

  <br></br>

  <label for="description">Description: </label>
  <input type="text" name="description" id="description"/>

  <br></br>

  <input type="submit" value="Create Expense"/>
</form></h5>