<br>
<h1>Total Expenses</h1>
<br>
<br>
<h3>Filter your expenses total after any date.</h3>
<br>

<h5><form action="/expenses/total" method="GET">
    <label for="after_date">Date: </label>
    <br>
    <input type="date" name="after_date" id="after_date" value="<%= @after_date %>" />
    <br>
    <input type="submit" value="Filter">
    <br>
</form> </h5>
<br>
<h2>You have currently spent $<%= @total %>.</h2>
