<div>
  <div class="container">
    <h1>Expense Tracker</h1>
    <br>
    <br>

    <div>
      <h3>Stop worrying, start saving!</h3>

      <p>New user? <strong><a href="/signup">Sign up</a></strong> to start tracking.</p>
      <p>Already a member? <strong><a href="/login">Log in</a></strong> to keep tracking.</p>

    </div>
  </div>
</div>