<div>
  <div class="container">
    <h1>Expense Tracker</h1>
    <br>
    <br>
    <br>
    <br>

    <div>
      <h3>Welcome to Your Expense Tracker!</h3>
      <br>

      <p>If you're a new user, please <strong><a href="/signup">sign up</a></strong> to start using the app.</p>
      <p>If you're a returning user, please <strong><a href="/login">log in</a></strong> to view your data.</p>

    </div>
  </div>
</div>