<div>
  <div class="container">
    <h1>Penny Patrol</h1>
    <br>
    <br>

    <div>
      <h3>Stop worrying, start saving!</h3>
      <br>
      <br>

      <h4>New user? <strong><a href="/signup">Sign up</a></strong> to start tracking.</h4>
      <h4>Already a member? <strong><a href="/login">Log in</a></strong> to keep tracking.</h4>

    </div>
  </div>
</div>